*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(46, 189, 46);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background:linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    width: 130px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;

}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.pointCounter{
text-align: end;
}

h1 {
    text-align: end;
    font-weight: 100;
    font-size: 42px;
    color: rgb(6, 6, 6);
}

button {
    height: 2.5em;
    width: 11em;
    border: none;
    border-radius: 10px;
    color: white;
}

button:hover {
    cursor: pointer;
}

.start-btn {
    background-color:rgb(31, 212, 31);
}

.start-btn:hover{
    background-color: rgb(1, 103, 8);
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    
    50%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from{
        right: 0;
    }

    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }

    
}